# Arash: adjusted evremap service file. See repo README to reproduce

[Service]
WorkingDirectory=/
ExecStart=bash -c "/usr/local/bin/arash_evremap remap /etc/evremap.toml -d 0"
Restart=always

[Install]
WantedBy=multi-user.target

